/**Font and Color**/

body { 
	background-color: white;

}

h1, h2, h3, h4, h5 {


}

#first {
	background-color: navy;
}

#second {
	margin: 10px 20px;
	padding: 20px 10px 10px 20px;
	background-color: grey;

}

#second h1 {
	margin-top: 0px;
}



/**Layout**/

.container {
	margin: 0px 20px;
	padding: 20px 10px 10px 20px;

}

.content {
	text-align: left;
	overflow: auto;
}

.column1 {
	width:23%;
	display: inline-block;
	vertical-align: top;
	margin: 2px 10px;	
	padding-right: 10px;

}

.column1 a {
	color: white;
}


.column2 {
	width:23%;
	display: inline-block;
	vertical-align: top;
	margin: 2px 10px;
	padding-right: 10px;
	
	
}

.column3 {
	width:23%;
	display:inline-block;
	vertical-align: top;
	margin: 2px 10px;
	padding-right: 10px;
	

}

.column4 {
	width:20%;
	display:inline-block;
	vertical-align: top;
	margin: 2px 10px;
	text-align: right;

}

.column4 a {
	color: white;
}

header {
	padding:10px 15px 5px 15px;
	background-color: #741b47;
	color: white;
	margin: 20px;
	
}



article {
	width: 65%;
	background-color: #041c2c;
	padding: 15px;
	color: white;
	margin-right: 0px;
	
	
}

aside {
	width: 35%;
	margin: 0px 5px 10px 400px;


	

	
}

article, aside {
	display: table-cell;
	padding: 0px 25px;
	
}

/*****Navigation*****/

nav { float: right;


}

.horizontal-nav ul {
list-style-type: none;
padding-top: 15px;
margin: 0;
padding-bottom: 20px;
}

.horizontal-nav li {
background: #741b47;
color: white;
display: inline;
margin: 0;
height: 38px;
padding: 0;

}

.horizontal-nav a {
background: #741b47;
color:white;
font-weight: bold;
text-decoration: none;
display: inline-block;
padding: 20px;
color: white;
font-size: 15px;
}

.horizontal-nav a:hover {
background-color: #d29f13;
color: white;
}

/**Link/Highlight**/

.horizontal-nav .currentpage a {
background: #041c2c;
color: white;
}




/**Contact Form Styles**/

.container-form {
	background-color: #741b47;
	margin: 0px 20px;
	padding: 0px 10px 10px 20px;
	color: white;
	text-align: left;
	font-size: 20px;
}

.container-form a {
	color: white;
}


.label {
	text-align: center;
	margin-bottom: 20px;

}



/**Home page**/

.hero {
	margin-left: 20px;
	
	}

.container-top {
	background-color: #741b47;
	margin: 0px 20px;
	color: white;

}

.container-top h2 {
	margin-top: 5px;
}

.item {
	margin-top: 10px;
}


.img {
	width: 15%;
	vertical-align: center;
	margin-top: 10px;
	
	

}

.info {
	width: 85%;
	vertical-align: top;

}

.img, .info {
	display: table-cell;
	padding-right: 40px;
	padding-top: 0px;
}


/**Portfolio**/
 #title {
 	text-align: center;
 }

 .container-top-hero {
 	margin: 20px;

 }

 .container-top-portfolio {
 	margin: 20px;
 	background-color: #741b47;
 	color: #f4d98b;
 	margin: 10px;
 	padding: 10px;
 	text-align: center;
 }

 .container-top-portfolio a {
 	color: white;
 }

 .imgg {
 	width: 40%;
 }

 .col-1 {
 	width: 70%;
 }

 .col-2 {
 	width: 30%;
 	display: table-cell;

 }

 .col-1, .col-2 {
 	display: table-cell;

 }

 /**Images**/

 .response {
 	width: 400px;
 	height: 150px;


 }

 .social {
 	display: inline-block;
 	padding-right: 25px;
 	margin-right: 10px;
 }





/**Footer**/

footer {
	padding-top: 0px;
	text-align: center;
	color: grey;

}














