/**Font and Color**/

body { 
	background-color: white;

}

h1, h2, h3, h4, h5 {


}

#first {
	background-color: navy;
}

#second {

}

#third {


}

/**Layout**/

.container {
	margin: 20px;
	width: 95%;
	max-width: 960px; 
	padding: 20px 10px 10px 20px;

}

.content {
	text-align: left;
	overflow: auto;
}

#column1 {
	width:23%;
	display: inline-block;
	vertical-align: top;
	margin: 2px 10px;	
	padding-right: 10px;

}

#column1 a {
	color: white;
}


#column2 {
	width:23%;
	display: inline-block;
	vertical-align: top;
	margin: 2px 10px;
	padding-right: 10px;
	
	
}

#column3 {
	width:23%;
	display:inline-block;
	vertical-align: top;
	margin: 2px 10px;
	padding-right: 10px;
	

}

#column4 {
	width:20%;
	display:inline-block;
	vertical-align: top;
	margin: 2px 10px;
	text-align: right;

}

#column4 a {
	color: white;
}

header {
	padding:10px 15px 5px 15px;
	background-color: #741b47;
	color: white;
	margin: 20px;
	
}

/*****Navigation*****/

nav { float: right;


}

.horizontal-nav ul {
list-style-type: none;
padding-top: 15px;
margin: 0;
padding-bottom: 20px;
}

.horizontal-nav li {
background: #741b47;
color: white;
display: inline;
margin: 0;
height: 38px;
padding: 0;

}

.horizontal-nav a {
background: #741b47;
color:white;
font-weight: bold;
text-decoration: none;
display: inline-block;
padding: 15px;
color: white;
}

.horizontal-nav a:hover {
background-color: grey;
color: white;
}

/**Link/Highlight**/

.horizontal-nav .currentpage a {
background: white;
color: navy;
}

a {white}



/**Plugin styles**/

.grid-item { width: 200px; }
.grid-item--width2 { width: 400px; }

/**Contact Form Styles**/

.container-form {
	background-color: #741b47;
	margin: 0px 20px;
	padding: 0px 10px 10px 20px;
	color: white;
	text-align: left;
	font-size: 20px;
}

.container-form a {
	color: white;
}


.label {
	text-align: center;
	margin-bottom: 20px;

}





/**Home page**/

.hero {
	margin-left: 20px;
	
	}

.container-top {
	background-color: #741b47;
	margin: 0px 20px;
	color: white;

}

.container-top h2 {
	margin-top: 5px;
}




/**Footer**/

footer {
	padding-top: 70px;
	text-align: center;
}








